
.conteiner{
  position: relative; 
  width: 1280px;
  height: 1626px;
  background: #FFFFFF;
}
.navbar{
  display: block;
  margin-left: 250px;
  margin-right: auto;
   
}
.bar {
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase; 
}
.home{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: red; 
}
.photoapp{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: red; 
   padding:  26px 0px 26px 72px; 
}
.design{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: red;
  padding:26px 72px 26px 72px;
}
.download{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: red;
}
.photo{
  /* margin: 78px 0 49px 0 ; */
}
.content{
  position: absolute;
  width: 1280px;
  height: 650px;
  bottom: 108px;
}
.content-title{
  margin: 29px 253px 38px 253px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex; 
  align-items: flex-end;
  letter-spacing: 3.3px;
  color: #373737; 
}
.content-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 68px 28px 68px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}
.txt{font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 0 68px 66px 68px;
}
.btn{
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px; 
  background: #f90606;
	color: #fff;
	border-radius: 4px;
	width: 191px;
	padding: 19px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}
.btn-txt{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  border: 0;
	cursor: pointer;
	display: inline;
}
.footer{
  position: absolute;
  width: 1070px;
  height: 39px;
  right: 105px;
  bottom: 29px; 
}
.footer-txt{
  margin:  40px 105px 29px 713px;
  width: 462px;
  height: 39px;
  left: 608px;
  top: 0px;  
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex; 
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}